<header class="header">
  <div class="header--top">
    <p class="header--top__create-group">グループを作成しました</p>
  </div>
  <div class="header--in">
    <div class="header--in__left">
      <div class="in-lefthead">
        <div class="name-tag">
          <p class="name-tag__user-name">user_name</p>
          <a href="#">
            <i class="fa fa-cog"></i>
          </a>
          <a href="#">
            <i class="fa fa-edit"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="header--in__right">
      <div class="in-righthead group">
        <p class="group--name">group_name</p>
        <p class="group--member">group_member</p>
        <a class="group--edit" href="edit">
          <div class="group--edit__name">Edit</div>
        </a>
      </div>
    </div>
  </div>
</header>
<div class="content">
  <div class="content--left">
    <div class="in-leftcontent">
      <div class="group">
        <p class="group__name">group-name</p>
        <p class="group__comment">group-comment</p>
      </div>
    </div>
  </div>
  <div class="content--main">
    <div class="in-rightcontent">
      <div class="submit">
        <ul class="submit--record">
          <li class="submit--record__name">submit-user</li>
          <li class="submit--record__date">submit-date</li>
        </ul>
        <p class="submit--text">submit-text</p>
      </div>
    </div>
    <footer class="footer">
      <form class="submit-form">
        <div class="submit-form--message-form">
          <input class="text-box" type-"text" name="messaage" placeholder="MESSAGE">
          <a href="#">
            <i class="fa fa-image"></i>
          </a>
        </div>
        <a href="#">
          <input class="submit-button" type="submit" value="Send">
        </a>
      </form>
    </footer>
  </div>
</div>
